@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap');

@font-face {
    font-family: 'lufgabold';
    src: url('/fonts/lufga-bold-webfont.woff2') format('woff2'),
    url('/fonts/lufga-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lufgaregular';
    src: url('/fonts/lufga-regular-webfont.woff2') format('woff2'),
    url('/fonts/lufga-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root {
    /* ---- colors ----*/
    --dark: #0d0d0d;
    --white: #fffffe;
    --text: #2a2a2a;
    --main-bg: #eff0f3;
    --primary: #ff8e3c;
    --secondary: #d9376e;
    --white-to-glass: #fffffe;
    --gray: #c9cbcf;

    /* ---- font ---- */
    --main-font: 'lufgaregular', sans-serif;
    --main-font-bold: 'lufgabold', sans-serif;
    --serif-font: 'Philosopher', serif;

    --paragraph: .875rem var(--main-font);
    --hero: 1.875rem var(--main-font-bold);
    --phrase: italic 1.25rem var(--serif-font);
    --section-title: bold 1.5rem var(--main-font-bold);
    --subtitle: bold 1rem var(--main-font-bold);
    --btn-font:  .75rem var(--main-font);
    --input-font: .80rem var(--main-font);
    --project-title-detail: bold 2rem var(--main-font);
    --project-title-card: bold 1rem var(--main-font);
    --bagde-font: var(--btn-font);

    /* ---- shadows ----*/
    --pale-dark-shadow: 0 10px 100px rgba(42, 42, 42, 0.12);
    --primary-shadow: 0 32px 40px -12px rgba(255, 142, 60, 0.35);
    --secondary-shadow: 0 32px 40px -12px rgba(42, 42, 42, 0.35);
    --dark-shadow: 0 32px 40px -12px rgba(42, 42, 42, 0.35);
    --btn-active-shadow: inset 0 5px 16px rgba(42, 42, 42, 0.25);
    --btn-hover-shadow: inset 0 0 0 transparent;

    /* ---- border-radius ----*/
    --small-radius: .5rem;
    --large-radius: 1rem;

    /* ---- transition ----*/
    --transition:  0.4s ease-in-out;

}

/* ---- reset styles ---- */
*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    border: none;
    list-style: none;
}

body {
    font-family: var(--main-font);
    background: var(--main-bg);
    scroll-behavior: smooth;
    min-height: 100vh;
}

/* ---- glass effect ---- */
.glass-light {
    -webkit-backdrop-filter: blur(6px) saturate(120%) contrast(45%) brightness(130%);
            backdrop-filter: blur(6px) saturate(120%) contrast(45%) brightness(130%);
    background: var(--white-to-glass);
}

/* ---- buttons ---- */
.Button {
    padding: .5rem;
    cursor: pointer;
    transition: var(--transition);
    border-radius: var(--small-radius);
    font: var(--btn-font);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Button:hover {
    box-shadow: var(--btn-hover-shadow);
}
.Button:active {
    box-shadow: var(--btn-active-shadow);
}
.Button--primary {
    background: var(--primary);
    color: var(--white);
    box-shadow: var(--primary-shadow);
}
.Button--secondary {
    background: var(--secondary);
    color: var(--text);
    box-shadow: var(--secondary-shadow);
}

/* ---- utils ----*/
.hidden {
    display: none !important;
    opacity: 0;
    transition: opacity var(--transition);
}

/* ---- navbar ---- */
.NavbarContent {
    padding: .5rem .25rem;
    position: fixed;
    width: 100%;
}
.Navbar, .Navbar-Left, .Navbar-right {
    display: flex;
}
.Navbar {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 60px;
    width: 100%;
    border-radius: var(--large-radius);
    padding: .85rem;
    transition: height var(--transition);
}
.Navbar.open-mobile {
    height: 70vh;
}
.Navbar-Left {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.Navbar-logo-text {
    font: var(--paragraph);
    color: var(--text);
}
.IconContent {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    padding: 0;
}
.icon-open, .icon-close {
    padding: .5rem;
    border-radius: var(--small-radius);
}
.icon-open {
    background: var(--primary)
}
.icon-close {
    background: var(--secondary)
}
.Navbar-right {
    opacity: 1;
    height: calc(100% - 60px);
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.Navbar-item {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    cursor: pointer;
}

.Navbar-link {
    position: relative;
    color: var(--text);
    font: var(--paragraph);
    display: inline;
}
.Navbar-link::after {
    content: '';
    position: absolute;
    height: 30%;
    width: 100%;
    mix-blend-mode: darken;
    transition: var(--transition);
    overflow: hidden;
    left:-100%;
    bottom: 0;
}
.Navbar-link.isActive::after {
    background: var(--primary);
    left:0;
}

.Navbar-item:hover .Navbar-link::after  {
    background: var(--primary);
    left: 0;
}